hr.divisorPersonalizado {
    margin: 13px;
}

#sample{
    background-color: #fff;
}

.celda_diagramas{
    background-color: rgba(78, 205, 205, 0.415);
}

.celda_diagramas {
    border-radius: 8px;
    background-color: #e3551f9e;
}

.centrar{
    text-align-last: center;
}

.miFoto {
    max-width: 438px;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

textarea.input_class {
    width: 100%;
    height: 24px;
    font-size: 11px;
}